<div id="image-comment-container">

  <%= @document_version.id %>
  <br>
  <%= @document_version.name %>
  <br>
  <br>

  <div id="image-area">
    <%#= image_tag @document_version.file_url, id: "pdf" %>
    <object width="400" height="500" data="<%= @document_version.file_url %>" id="pdf_content">
    </object>
    <% @annotations.each do |annotation_object| %>
      <div id="<%=annotation_object.number%>" class="<%=annotation_object.number%> black" style="left:<%=annotation_object.xcoor %>px; top: <%=annotation_object.ycoor%>px;">
        <p><%= annotation_object.number %></p>
      </div>
    <% end %>
  </div>

  <div id="comment-area">
    <ul class="annotation-list">
      <% @annotations.each do |annotation_object| %>
        <li class="<%=annotation_object.number%>">Annotation number <%= annotation_object.number%> <br/> '<%= annotation_object.content %>' <br/><a id="<%=annotation_object.number%>" class="<%=annotation_object.number%>" href='#'>Delete</a></li>
      <% end %>
    </ul>    
  </div>

</div>

<script type="text/javascript">
  var document_version_id = "<%= @document_version_id %>" 
  var annotation_count = <%= @annotation_count %>
</script>