<div id="image-comment-container">

  <%= @document_version.id %>
  <br>
  <%= @document_version.name %>
  <br>
  <br>

  <div id="image-area">
    <%#= image_tag @document_version.file_url, id: "pdf" %>
    <object width="400" height="500" data="<%= @document_version.file_url %>" id="pdf_content">
    </object>
  </div>

  <div id="comment-area">
    <ul class="annotation-list">
      <% @annotations.each do |annotation_object| %>
        <li><%= annotation_object.number%>. <%= annotation_object.content %> <br/><a class='anno_delete' href='#'>Delete</a></li>
      <% end %>
    </ul>    
  </div>

</div>

<script type="text/javascript">
  var document_version_id = "<%= @document_version_id %>" 
  var annotation_count = <%= @annotation_count %>
</script>