<%= @document_version.id %>
<%= @document_version.name %>

<br/><br/><br/>

<div id="image-area">
  <%= image_tag @document_version.file_url, id: "pdf" %>
</div>

<script type="text/javascript">
  var document_version_id = "<%= @document_version_id %>" 
  var annotation_count = <%= @annotation_count %>
</script>